*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 80px;
    height: 100px;
    color: white;
    background: rgba(0,0,0,0.5);
    position: fixed;
    padding: 0 5%;

}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
nav ul{
    padding-top: 15px;
    list-style: none;
    float: right;
    
}
nav ul li {
    line-height: 70px;
    display: inline-block;
    color: pink;
    gap: 20px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 900;
}
.fa-bars{
    float: right;
    line-height: 100px;
    margin-left: 40px;
    display: none;
}
nav  a{
    text-decoration: none;
    color: orange;
}
nav button{
    position: relative;
    left: 80px;
    padding: 10px 15px;
    background-color: orange;
}
nav label{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100px;
    
}
.fa-sort-down{
    position: relative;
    left: 10px;
    bottom: 4px;
}
.hero{
    height: 100vh;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5cc3eb18c2ff615cd16c1900/1586583224562-SOQOHGMUY3YXWH95P2N1/image-asset.jpeg");
    width: 100%;
    background-size: cover;
    background-position: center;
}
.hero h3{
    font-size: 25px;
    font-weight: 800;
    color: white;
    padding-left: 100px;
    padding-top: 160px;
}
.hero h1{
    padding-top: 25px;
    font-size: 80px;
    font-weight: 900;
    color: orange;
    padding-left: 80px;
}
.hero p{
    padding-top: 15px;
    font-size: 23px;
    font-weight: 900;
    color: white;
    width: 600px;
    line-height: 29px;
    padding-left: 90px;
    
}
.hero button{
    margin-top: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 25px;
    background-color: orange;
    margin-left: 80px;
}
.cards{
    width: 100%;
    height: 100%;
    padding: 20px 10%;
}
.row{
    width: 100%;
    height: fit-content;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 32%;
    height: 500px;
    background-color: rgb(246, 255, 255);
    box-shadow: 5px 5px 5px 5px rgb(48, 43, 43);
    text-align: center;
}
.card img{
    width: 100%;
    height: 250px;
}
.card h1{
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: orange;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card p{
    line-height: 26px;
}
.card button{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    cursor: pointer;
    border: none;
}




.sec8{
    width: 100%;
    height: 60vh;
    padding-top: 60px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap: 7px;
}

.col1{
    color: white;
    width: 20%;
    height: 40vh;
    color: black;
   
}
.col2{
    color: white;
    width: 20%;
    height: 40vh;
    color: black;
    
}
.col3{
    color: white;
    width: 30%;
    height: 40vh;
    color: black;
    padding: 0 20px;
    margin-right: 60px;
}
.col4{
    color: white;
    width: 30%;
    height: 40vh;
    color: black;
    
}
.Timing .top{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: -10px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dadada;
}
.Time-top-h2{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}
.Time-top-p{
    width: 60%;
    font-size: 20px;
}
.Timing .bottom{
    padding:0px 6%;
    padding-top: 80px;
}
.col3-h4{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
.col3 .line1{
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.col3-line1-h3{
    font-size: 18px;
}
.col3-line2-h5{
    font-size: 18px;
}
.col3-line3-h5{
    font-size: 18px;
}
.col3 .line2{
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px; 
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.col3 .line3{
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.sec8 .bottom{
    padding-left: 220px;
}
.col1-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col2-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col4-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col1 li{
    padding-top: 10px;
    font-size: 20px;
}
.col2 li{
    padding-top: 10px;
    font-size: 20px;
}
.line1 input{
    margin-top: 20px;
    margin-bottom: 38px;
    padding: 10px 25px;
}
.line1 button{
    padding: 10px 25px;
    background-color: orange;
}
.line2 .fa-brands{
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.firstcon{
    display: flex;
    width: 100%;
    height: 25vh;
    background-color: rgb(210, 218, 218);
    margin-top: 10px;
}
.box1{
    color: aliceblue;
    width: 60%;
    height: 25vh;
    background-color: black;
}
.box2 img{
    width: 100%;
    height: 25vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 10px 6%;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}
.timing{
    background-color: orange;
    padding: 5px 5px;
    
}
