*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 0;
    padding: 0 5%;

}
nav ul{
    padding-top: 15px;
    list-style: none;
    float: right;
    
}
nav ul li {
    line-height: 70px;
    display: inline-block;
    color: pink;
    gap: 20px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 900;
}
.fa-bars{
    float: right;
    line-height: 100px;
    margin-left: 40px;
    display: none;
}
nav  a{
    text-decoration: none;
    color: orange;
}
nav button{
    position: relative;
    left: 80px;
    padding: 10px 15px;
    background-color: orange;
}
nav label{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100px;
    
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("./img/serbg.jpg");
    background-size:cover;
    background-position: center;
}
.right{
   padding-top: 130px;
   padding-left: 100px;
    width: 40%;
    align-items: end;
    color: white;
}
.hero_h4{
    font-size: 25px;
    font-weight: 900;
    color: rgb(252, 250, 250);
    text-transform: uppercase;
}
.right h1{
    padding-top: 15px;
    color: orange;
    font-size: 5rem;
    
    text-transform: uppercase;
}
.hero-p{
    padding-top: 15px;
    font-size: 25px;
}
.right button{
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 25px;
    background-color: orange;
}


.main{
    width: 100%;
    height: fit-content;
    margin-top: 90px;
    padding: 0px 10%;
}
.line10{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 10px;
}
.box10{
    width: 7%;
    height: 70px;
    background-color: black;
}
.boxs0{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 70px;
    background-color: black;
    color: white;
}
.line20{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    gap: 10px;
    
}
.box20{
    width: 6.8%;
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px;
}
.box0{
    width: 15%;
    height: 150px;
    background-color: #e5e5e5;
    text-align: center;
    padding-top: 20px;
    
}
.box40{
    width: 15%;
    height: 130px;
}
.top0{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #e5e5e5;
    display: flex;
}
.bottom0{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 70px;
    background-color:#e5e5e5;
    display: flex;
}
.top0 img{
    width: 40px;
    height: 50px;
}
.bottom0 img{
    width: 60px;
    height: 30px;
}
.box22{
    width: 15%;
    height: 170px;
    background-color: #e5e5e5;
    padding-left: 30px;
    padding-top: 100px;
    
}
h1{
    font-size: 20px;
    font-weight: 900;
}
.end0 img{
    padding-top: 30px;
}



.sec8{
    width: 100%;
    height: 60vh;
    padding-top: 100px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap: 7px;
}

.col1{
    color: white;
    width: 20%;
    height: 40vh;
    color: black;
   
}
.col2{
    color: white;
    width: 20%;
    height: 40vh;
    color: black;
    
}
.col3{
    color: white;
    width: 30%;
    height: 40vh;
    color: black;
    padding: 0 20px;
    margin-right: 60px;
}
.col4{
    color: white;
    width: 30%;
    height: 40vh;
    color: black;
    
}
.Timing1 .top{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: -40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dadada;
}
.Time-top-h2{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}
.Time-top-p{
    width: 60%;
    font-size: 20px;
}
.Timing1 .bottom{
    padding:0px 6%;
    padding-top: 80px;
}
.col3-h4{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
.col3 .line1{
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.col3-line1-h3{
    font-size: 18px;
}
.col3-line2-h5{
    font-size: 18px;
}
.col3-line3-h5{
    font-size: 18px;
}
.col3 .line2{
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px; 
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.col3 .line3{
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.sec8 .bottom{
    padding-left: 220px;
}
.col1-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col2-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col4-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col1 li{
    padding-top: 10px;
    font-size: 20px;
}
.col2 li{
    padding-top: 10px;
    font-size: 20px;
}
.line1 input{
    margin-top: 20px;
    margin-bottom: 38px;
    padding: 10px 25px;
}
.line1 button{
    padding: 10px 25px;
    background-color: orange;
}
.line2 .fa-brands{
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.firstcon{
    display: flex;
    width: 100%;
    height: 25vh;
    background-color: rgb(210, 218, 218);
    margin-top: 10px;
}
.box1{
    color: aliceblue;
    width: 60%;
    height: 25vh;
    background-color: black;
}
.box2 img{
    width: 100%;
    height: 25vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 0 6%;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}