*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
}
nav{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100px;
    color: white;
    background: rgba(0,0,0,0.6);
    padding:0 5% ;
}
nav ul{
    padding-top: 15px;
    list-style: none;
    float: right;
    
}
nav ul li {
    line-height: 70px;
    display: inline-block;
    color: pink;
    gap: 20px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 900;
}
.fa-bars{
    float: right;
    line-height: 100px;
    margin-left: 40px;
    display: none;
}
nav  a{
    text-decoration: none;
    color: orange;
}
nav button{
    position: relative;
    left: 80px;
    padding: 10px 15px;
    background-color: orange;
}
nav label{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100px;
    
}

.fa-sort-down{
    position: relative;
    left: 10px;
    bottom: 4px;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("./img/gym\ logo.png");
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
.right-hero{
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    
}
.right-hero ul{
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    list-style: none;
}
.right-hero ul li{
    padding-top: 10px;
}
.right-hero a{
    color: orange;
    text-decoration: none;
}
.right{
   position: relative;
   top: 150px;
   left: 5%;
    width: 40%;
    align-items: end;
    color: white;
}
.hero_h4{
    font-size: 25px;
    font-weight: 900;
    color: rgb(252, 250, 250);
    text-transform: uppercase;
}
.right h1{
    padding-top: 15px;
    color: orange;
    font-size: 5rem;
    text-transform: uppercase;
}
.right .p{
    padding-top: 15px;
    font-size: 20px;
}
.right button{
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 25px;
    background-color: orange;
}
                                             /* section1 */
                                        
.sec1{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}
.sec1-left{
    width: 50%;
}
.sec1_h4{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
    bottom: 50px;
}
.sec1_h2{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    bottom: 30px;
}
.sec1_p{
    font-size: 20px;
}
.sec1-right{
    width: 50%;
   position: relative;
   left:85px;
   bottom: 100px;
}
.sec1-right .p_1{
    position: relative;
    top:30px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(184, 160, 144, 0.821);
}
.sec1-right .h2_2{
    position: relative;
    top:60px
}
.sec1-right .p_2{
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(184, 160, 144, 0.821);
    top:90px
}
.sec1-right .h2_3{
    position: relative;
    top:120px
}
.sec1-right .p_3{
    position: relative;
    padding-bottom: 50px;
    top:150px
}

/* section2 */

.sec2{
    width: 100%;
    height: 110vh;
    display: flex;
    padding: 0 15%;
}
.sec2-left{
    width: 50%;
}
.imgtop{
    width: 100%;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    
}
.imgbottom{
    display: flex;
    gap: 10px;
}
.imgtop img{
    width: 160px;
    height: 160px;
}
.imgbottom img{
    width: 160px;
    height: 160px;
}
.sec2-left_h4{
    font-size: 25px;
    font-weight: 900;
    color: rgb(79, 77, 77);
    letter-spacing: 2px;
}
.sec2-left_h1{
    padding-top: 30px;
    font-size: 55px;
    text-transform: uppercase;
}
.sec2-left_p{
    padding-top: 30px;
    color: rgb(79, 77, 77);
    width: 100%;
    letter-spacing: 2px;
}
.sec2-left_button{
    margin-top: 30px;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: orange;
    border: none;
    margin-bottom: 30px;
}


.sec2-right{
    width: 50%;
    height:100vh;
    padding-top: 70px;
    position: relative;
    left: 40px;
    

}
.firstcon{
    width: 100%;
    display: flex;
}
.firstcon .box1 {
    width: 50%;
    background-color: rgb(8, 7, 6);
    padding-top: 10px;
    padding-left: 10px;
}
.firstcon .box2{
    width: 50%;
}
.secondcon {
    width: 100%;
    padding-top: 15px;
    display: flex;
    color: white;
}
.secondcon .box1 {
    width: 50%;
    background-color: rgb(243, 128, 13);
    padding-top: 10px;
    padding-left: 10px;
}
.secondcon .box2{
    width: 50%;
}
.thirdcon{
    padding-top: 15px;
    display: flex;
    color: white;
}
.secondcon .box1 {
    width: 50%;
    background-color: rgb(40, 34, 29);
    padding-top: 10px;
    padding-left: 10px;
}
.thirdcon .box2{
    width: 50%;
}

/* section3 */

.sec3{
    width: 100%;
    height: 60vh;
    padding: 0 15%;
    display: flex;
    justify-content: space-around;
}
.sec3 .sec3-left{
    width: 50%;
}
.sec3 .sec3-right{
    width: 50%;
    padding-top: 60px;
}
.sec3-h4{
    font-size: 25px;
    font-weight: 900;
    color: rgb(79, 77, 77);
    letter-spacing: 2px;
}
.sec3-h1{
    padding-top: 30px;
    font-size: 55px;
    text-transform: uppercase;
    width: 70%;
}
.sec3-p{
    padding-top: 30px;
    color: rgb(79, 77, 77);
    letter-spacing: 2px;
    width: 70%;
}
.sec3-button{
    margin-top: 30px;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: orange;
    border: none;
    margin-bottom: 30px;
}
.sec3-right-h1{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    
}
.sec3-right-h2{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}
.sec3-right-h3{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}
.sec3-right-h4{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}
.sec3-right .fa-solid-1{
    position: relative;
    left: 350px;
}
.sec3-right .fa-solid-2{
    position: relative;
    left: 400px;
}
.sec3-right .fa-solid-3{
    position: relative;
    left: 315px;
}
.sec3-right .fa-solid-4{
    position: relative;
    left: 360px;
}
/* section5 */
.sec5{
    width: 100%;
    height: 100vh;
    background-color: rgb(222, 204, 207);
    text-align: center;
    padding-top: 170px;
    padding: 150px 15%;
}
.sec5-bottom{
    display: flex;
    padding-top: 70px;
    padding-right: 10px;

}
.sec5-bottom img{
    width:70px;
    height: 70px;
    border-radius: 55%;
}
.sec5-top h5{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.sec5-top h2{
    padding-left: 100px;
    width: 95%;
    padding-top: 35px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}
.sec5-bottom .first{
    width: 31%;
    margin-left: 100px;
    height: 400px;
}
.sec5-bottom .second{
    width: 31%;
    margin-left: 100px;
    height: 400px;
}
.sec5-bottom .third{
    width: 31%;
    margin-left: 100px;
    height: 400px;
}

.cardo h3{
    padding-top: 15px;
    font-size: 25px;
    font-weight: 800;
}
.cardo p{
    padding-top: 15px;
    font-size: 20px;
    
}

/* section6 */
.sec6{

    color: rgb(7, 7, 6);
    padding: 40px 15%;
}
.plans{
    padding-top: 70px;
    width: 100%;
    height: 80vh;
    display: flex;
    color: wheat;
    align-items: center;
    justify-content: center;
}
.card{
    width: 30%;
    height: 70vh;
    background-color: rgb(244, 236, 236);
    padding-top: 30px;
    text-align: center;
    color: black;
}
.sec6-h5{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.sec6-h2{
    padding-top: 30px;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.secondcard{
    width: 30%;
    height: 75vh;
    color: white;
    margin-bottom: 37px;
    background-color: rgba(45, 37, 37, 0.829);
}
.plans-firstcard-h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
}
.plans-firstcard-h5{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
}
.plans-firstcard-h1{
    text-transform: uppercase;
    padding-top: 35px;
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 20px;
}
.plans-p{
    width: 80%;
    margin-left: 27px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.plans-button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight:700 ;
    background-color: orange;
    cursor: pointer;
}
.plans-h5{
    font-size: 18px;
    font-weight: 900;
}
/* section7 */
.testimonal{
    width: 100%;
    height: 50vh;
    display: flex;
    text-align: center;
    padding-top:50px ;
    padding-left: 10%;
    padding-right: 10%;
    gap: 40px;
}
.cards img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.sec7-h5{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
}

.sec7-h1{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}



.sec8{
    width: 100%;
    height: 60vh;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap: 7px;
}

.col1{
    color: white;
    width: 20%;
    height: 40vh;
    color: black;
   
}
.col2{
    color: white;
    width: 20%;
    height: 40vh;
    color: black;
    
}
.col3{
    color: white;
    width: 30%;
    height: 40vh;
    color: black;
    padding: 0 20px;
    margin-right: 60px;
}
.col4{
    color: white;
    width: 30%;
    height: 40vh;
    color: black;
    
}
.Timing .top{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: -10px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dadada;
}
.Time-top-h2{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}
.Time-top-p{
    width: 60%;
    font-size: 20px;
}
.Timing .bottom{
    padding:0px 6%;
    padding-top: 80px;
}
.col3-h4{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
.col3 .line1{
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.col3-line1-h3{
    font-size: 18px;
}
.col3-line2-h5{
    font-size: 18px;
}
.col3-line3-h5{
    font-size: 18px;
}
.col3 .line2{
    padding-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px; 
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.col3 .line3{
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}
.sec8 .bottom{
    padding-left: 220px;
}
.col1-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col2-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col4-h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.col1 li{
    padding-top: 10px;
    font-size: 20px;
}
.col2 li{
    padding-top: 10px;
    font-size: 20px;
}
.line1 input{
    margin-top: 20px;
    margin-bottom: 38px;
    padding: 10px 25px;
    outline: none;
}
.line1 button{
    padding: 10px 25px;
    background-color: orange;
    border: none;
}
.line2 .fa-brands{
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.firstcon{
    display: flex;
    width: 100%;
    height: 25vh;
    background-color: rgb(210, 218, 218);
    margin-top: 10px;
}
.box1{
    color: aliceblue;
    width: 60%;
    height: 25vh;
    background-color: black;
}
.box2 img{
    width: 100%;
    height: 25vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding: 0 6%;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}